.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.container li > button {
  background-color: inherit;
  outline: none;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.active {
  color: var(--casBlue);
  border-bottom: 1px solid var(--casBlue) !important;
}
