:root {
  --white: #ffffff;
  --mobile-h: 21px;
  --font-xsm: 10px;
  --font-sm: 16px;
  --font-med: 28px;
  --font-lg: 32px;
  --font-xl: 36px;
  --font-xxl: 40px;
  /* --body-font-family: "poppins"; */
  /* --header-font-family: "poppins"; */
  --gap-sm: 10px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 36px;
  --cream: #f3f0e7;
  --green: #64ffda;
  --grey: #8892b0;
  --lightGrey: #666;
  --lighterGrey: rgba(0, 0, 0, 0.2);
  --blue: #03001c;
  --green-tint: rgba(100, 255, 218, 0.1);
  --teal: #00b2a9;
  --orange: #e67e22;
  --brown: #bc7844;
  --black: rgb(51, 51, 51);
  --background-color: #f3f3f3;
  --green: #62bd19;
  --yellow: #f4af29;
  --red: #ff5349;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
  background-color: var(--background-color);
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font-family);
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  h1,
  h2 {
    font-size: var(--mobile-h);
  }

  h3 {
    font-size: var(--font-sm);
  }
}
