.wrapper {
  width: 100%;
  padding: 0 15em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wrapper > div > small {
  display: block;
}
