.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  gap: 2em;
}

.wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.container > button {
  margin-top: 2em;
  width: 100%;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .wrapper h1 {
    text-transform: uppercase;
  }

  .wrapper img {
    width: 325px;
    height: 325px;
  }
}
