.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.wrapper {
  position: relative;
}
.container small {
  position: relative;
  top: 15px;
  left: 35px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ring {
  border: 3px solid #62bd19;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
