.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.card {
  max-width: 222px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card img {
  min-height: 195px;
}

.card a {
  text-align: left;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .grid {
    align-self: flex-start;
    flex-wrap: nowrap;
    display: flex;
    overflow-x: scroll;
    gap: 3em;
  }

  .card p {
    flex-wrap: wrap;
    /* display: inline-block; */
  }
  .card {
    min-width: 222px;
  }

  .card img {
    min-height: 200px;
    min-width: 100%;
  }
}
